In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('adult.data.csv')

In [3]:
data.head()

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [4]:
data['Male']

KeyError: 'Male'

In [5]:
 data = pd.read_csv('adult.data.csv')

In [6]:
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [7]:
data['sex']

0           Male
1           Male
2           Male
3           Male
4         Female
5         Female
6         Female
7           Male
8         Female
9           Male
10          Male
11          Male
12        Female
13          Male
14          Male
15          Male
16          Male
17          Male
18          Male
19        Female
20          Male
21        Female
22          Male
23          Male
24        Female
25          Male
26          Male
27          Male
28          Male
29          Male
          ...
32531     Female
32532       Male
32533       Male
32534     Female
32535       Male
32536     Female
32537       Male
32538     Female
32539       Male
32540     Female
32541     Female
32542       Male
32543     Female
32544     Female
32545     Female
32546     Female
32547       Male
32548       Male
32549     Female
32550       Male
32551       Male
32552       Male
32553       Male
32554       Male
32555       Male
32556     Female
32557       Male
32558     Female
32559       Male
32560     Female
Name: sex, Length: 32561, dtype: object

In [8]:
pd.crosstab(data['Male'], data['Female'])

KeyError: 'Male'

In [9]:
data.groupby('sex')

In [10]:
for sub_data in data.groupby('sex'):
    print sub_data

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(sub_data)? (<ipython-input-10-73883a4a80a3>, line 2)

In [11]:
for sub_data in data.groupby('sex'):
    print(sub_data)

(' Female',        age          workclass  fnlwgt      education  education-num  \
4       28            Private  338409      Bachelors             13
5       37            Private  284582        Masters             14
6       49            Private  160187            9th              5
8       31            Private   45781        Masters             14
12      23            Private  122272      Bachelors             13
19      43   Self-emp-not-inc  292175        Masters             14
21      54            Private  302146        HS-grad              9
24      59            Private  109015        HS-grad              9
37      19            Private  544091        HS-grad              9
43      49            Private   94638        HS-grad              9
47      44            Private  128354        Masters             14
50      25            Private   32275   Some-college             10
51      18            Private  226956        HS-grad              9
52      47            Private   51835    Prof-school             15
66      28            Private  183175   Some-college             10
67      53            Private  169846        HS-grad              9
71      31            Private  309974      Bachelors             13
78      18            Private  309634           11th              7
82      46            Private   51618        HS-grad              9
84      44            Private  343591        HS-grad              9
85      53            Private  346253        HS-grad              9
89      43        Federal-gov  410867      Doctorate             16
91      37            Private  286730   Some-college             10
92      28            Private  212563   Some-college             10
93      30            Private  117747        HS-grad              9
98      48            Private  171095     Assoc-acdm             12
102     47   Self-emp-not-inc  149116        Masters             14
103     20            Private  188300   Some-college             10
106     17                  ?  304873           10th              6
108     31          Local-gov  189265        HS-grad              9
...    ...                ...     ...            ...            ...
32486   24            Private  216984   Some-college             10
32491   33            Private   63079        HS-grad              9
32493   24            Private  381895           11th              7
32497   34            Private  321709        HS-grad              9
32504   50            Private  208630        Masters             14
32508   45            Private  155093           10th              6
32509   32            Private  192965        HS-grad              9
32511   25          Local-gov  514716      Bachelors             13
32513   46            Private   42972        Masters             14
32516   30            Private  176175      Assoc-voc             11
32520   27            Private  177398        HS-grad              9
32524   26            Private  191648     Assoc-acdm             12
32525   81                  ?  120478      Assoc-voc             11
32528   31            Private  292592        HS-grad              9
32529   29            Private  125976        HS-grad              9
32530   35                  ?  320084      Bachelors             13
32531   30                  ?   33811      Bachelors             13
32534   37            Private  179137   Some-college             10
32536   34            Private  160216      Bachelors             13
32538   38            Private  139180      Bachelors             13
32540   45          State-gov  252208        HS-grad              9
32541   41                  ?  202822        HS-grad              9
32543   45          Local-gov  119199     Assoc-acdm             12
32544   31            Private  199655        Masters             14
32545   39          Local-gov  111499     Assoc-acdm             12
32546   37            Private  198216     Assoc-acdm             12
32549   43          State-gov  255835   Some-college             10
32556   27            Private  257302     Assoc-acdm             12
32558   58            Private  151910        HS-grad              9
32560   52       Self-emp-inc  287927        HS-grad              9

               marital-status          occupation     relationship  \
4          Married-civ-spouse      Prof-specialty             Wife
5          Married-civ-spouse     Exec-managerial             Wife
6       Married-spouse-absent       Other-service    Not-in-family
8               Never-married      Prof-specialty    Not-in-family
12              Never-married        Adm-clerical        Own-child
19                   Divorced     Exec-managerial        Unmarried
21                  Separated       Other-service        Unmarried
24                   Divorced        Tech-support        Unmarried
37          Married-AF-spouse        Adm-clerical             Wife
43                  Separated        Adm-clerical        Unmarried
47                   Divorced     Exec-managerial        Unmarried
50         Married-civ-spouse     Exec-managerial             Wife
51              Never-married       Other-service        Own-child
52         Married-civ-spouse      Prof-specialty             Wife
66                   Divorced        Adm-clerical    Not-in-family
67         Married-civ-spouse        Adm-clerical             Wife
71                  Separated               Sales        Own-child
78              Never-married       Other-service        Own-child
82         Married-civ-spouse       Other-service             Wife
84                   Divorced        Craft-repair    Not-in-family
85                   Divorced               Sales        Own-child
89              Never-married      Prof-specialty    Not-in-family
91                   Divorced        Craft-repair        Unmarried
92                   Divorced   Machine-op-inspct        Unmarried
93         Married-civ-spouse               Sales             Wife
98                   Divorced     Exec-managerial        Unmarried
102             Never-married      Prof-specialty    Not-in-family
103             Never-married        Tech-support        Own-child
106             Never-married                   ?        Own-child
108             Never-married        Adm-clerical    Not-in-family
...                       ...                 ...              ...
32486      Married-civ-spouse       Other-service        Own-child
32491                Divorced        Adm-clerical        Unmarried
32493                Divorced   Machine-op-inspct        Unmarried
32497           Never-married       Other-service    Not-in-family
32504                Divorced               Sales    Not-in-family
32508                Divorced       Other-service    Not-in-family
32509               Separated               Sales    Not-in-family
32511           Never-married        Adm-clerical        Own-child
32513      Married-civ-spouse      Prof-specialty             Wife
32516                Divorced        Adm-clerical        Unmarried
32520           Never-married       Other-service        Unmarried
32524           Never-married   Machine-op-inspct   Other-relative
32525                Divorced                   ?        Unmarried
32528      Married-civ-spouse   Machine-op-inspct             Wife
32529               Separated               Sales        Unmarried
32530      Married-civ-spouse                   ?             Wife
32531           Never-married                   ?    Not-in-family
32534                Divorced        Adm-clerical        Unmarried
32536           Never-married     Exec-managerial    Not-in-family
32538                Divorced      Prof-specialty        Unmarried
32540               Separated        Adm-clerical        Own-child
32541               Separated                   ?    Not-in-family
32543                Divorced      Prof-specialty        Unmarried
32544                Divorced       Other-service    Not-in-family
32545      Married-civ-spouse        Adm-clerical             Wife
32546                Divorced        Tech-support    Not-in-family
32549                Divorced        Adm-clerical   Other-relative
32556      Married-civ-spouse        Tech-support             Wife
32558                 Widowed        Adm-clerical        Unmarried
32560      Married-civ-spouse     Exec-managerial             Wife

                      race      sex  capital-gain  capital-loss  \
4                    Black   Female             0             0
5                    White   Female             0             0
6                    Black   Female             0             0
8                    White   Female         14084             0
12                   White   Female             0             0
19                   White   Female             0             0
21                   Black   Female             0             0
24                   White   Female             0             0
37                   White   Female             0             0
43                   White   Female             0             0
47                   White   Female             0             0
50                   Other   Female             0             0
51                   White   Female             0             0
52                   White   Female             0          1902
66                   White   Female             0             0
67                   White   Female             0             0
71                   Black   Female             0             0
78                   White   Female             0             0
82                   White   Female             0             0
84                   White   Female         14344             0
85                   White   Female             0             0
89                   White   Female             0             0
91                   White   Female             0             0
92                   Black   Female             0             0
93      Asian-Pac-Islander   Female             0          1573
98                   White   Female             0             0
102                  White   Female             0             0
103                  White   Female             0             0
106                  White   Female         34095             0
108                  White   Female             0             0
...                    ...      ...           ...           ...
32486   Asian-Pac-Islander   Female             0             0
32491                Black   Female             0             0
32493                White   Female             0             0
32497                White   Female             0             0
32504                White   Female             0             0
32508                Black   Female             0             0
32509                White   Female             0             0
32511                Black   Female             0             0
32513                White   Female             0             0
32516                White   Female             0             0
32520                White   Female             0             0
32524                White   Female             0             0
32525                White   Female             0             0
32528                White   Female             0             0
32529                White   Female             0             0
32530                White   Female             0             0
32531   Asian-Pac-Islander   Female             0             0
32534                White   Female             0             0
32536                White   Female             0             0
32538                Black   Female         15020             0
32540                White   Female             0             0
32541                Black   Female             0             0
32543                White   Female             0             0
32544                Other   Female             0             0
32545                White   Female             0             0
32546                White   Female             0             0
32549                White   Female             0             0
32556                White   Female             0             0
32558                White   Female             0             0
32560                White   Female         15024             0

       hours-per-week       native-country  salary
4                  40                 Cuba   <=50K
5                  40        United-States   <=50K
6                  16              Jamaica   <=50K
8                  50        United-States    >50K
12                 30        United-States   <=50K
19                 45        United-States    >50K
21                 20        United-States   <=50K
24                 40        United-States   <=50K
37                 25        United-States   <=50K
43                 40        United-States   <=50K
47                 40        United-States   <=50K
50                 40        United-States   <=50K
51                 30                    ?   <=50K
52                 60             Honduras    >50K
66                 40        United-States   <=50K
67                 40        United-States    >50K
71                 40        United-States   <=50K
78                 22        United-States   <=50K
82                 40        United-States   <=50K
84                 40        United-States    >50K
85                 35        United-States   <=50K
89                 50        United-States    >50K
91                 40        United-States   <=50K
92                 25        United-States   <=50K
93                 35                    ?   <=50K
98                 40              England   <=50K
102                50        United-States   <=50K
103                40        United-States   <=50K
106                32        United-States   <=50K
108                40        United-States   <=50K
...               ...                  ...     ...
32486              35        United-States   <=50K
32491              40        United-States   <=50K
32493              40        United-States   <=50K
32497              28        United-States   <=50K
32504              50        United-States    >50K
32508              38   Dominican-Republic   <=50K
32509              45        United-States   <=50K
32511              40        United-States   <=50K
32513              22        United-States    >50K
32516              24        United-States   <=50K
32520              64        United-States   <=50K
32524              15        United-States   <=50K
32525               1                    ?   <=50K
32528              40        United-States   <=50K
32529              35        United-States   <=50K
32530              55        United-States    >50K
32531              99        United-States   <=50K
32534              39        United-States   <=50K
32536              55        United-States    >50K
32538              45        United-States    >50K
32540              40        United-States   <=50K
32541              32        United-States   <=50K
32543              48        United-States   <=50K
32544              30        United-States   <=50K
32545              20        United-States    >50K
32546              40        United-States   <=50K
32549              40        United-States   <=50K
32556              38        United-States   <=50K
32558              40        United-States   <=50K
32560              40        United-States    >50K

[10771 rows x 15 columns])
(' Male',        age          workclass  fnlwgt      education  education-num  \
0       39          State-gov   77516      Bachelors             13
1       50   Self-emp-not-inc   83311      Bachelors             13
2       38            Private  215646        HS-grad              9
3       53            Private  234721           11th              7
7       52   Self-emp-not-inc  209642        HS-grad              9
9       42            Private  159449      Bachelors             13
10      37            Private  280464   Some-college             10
11      30          State-gov  141297      Bachelors             13
13      32            Private  205019     Assoc-acdm             12
14      40            Private  121772      Assoc-voc             11
15      34            Private  245487        7th-8th              4
16      25   Self-emp-not-inc  176756        HS-grad              9
17      32            Private  186824        HS-grad              9
18      38            Private   28887           11th              7
20      40            Private  193524      Doctorate             16
22      35        Federal-gov   76845            9th              5
23      43            Private  117037           11th              7
25      56          Local-gov  216851      Bachelors             13
26      19            Private  168294        HS-grad              9
27      54                  ?  180211   Some-college             10
28      39            Private  367260        HS-grad              9
29      49            Private  193366        HS-grad              9
30      23          Local-gov  190709     Assoc-acdm             12
31      20            Private  266015   Some-college             10
32      45            Private  386940      Bachelors             13
33      30        Federal-gov   59951   Some-college             10
34      22          State-gov  311512   Some-college             10
35      48            Private  242406           11th              7
36      21            Private  197200   Some-college             10
38      31            Private   84154   Some-college             10
...    ...                ...     ...            ...            ...
32506   38            Private   32916      Assoc-voc             11
32507   50            Private  302372      Bachelors             13
32510   39            Private  107302        HS-grad              9
32512   20            Private  270436        HS-grad              9
32514   40            Private  142657      Assoc-voc             11
32515   66        Federal-gov   47358           10th              6
32517   36            Private  131459        7th-8th              4
32518   57          Local-gov  110417        HS-grad              9
32519   46            Private  364548   Some-college             10
32521   33            Private  273243        HS-grad              9
32522   58            Private  147707           11th              7
32523   30            Private   77266        HS-grad              9
32526   32            Private  211349           10th              6
32527   22            Private  203715   Some-college             10
32532   34            Private  204461      Doctorate             16
32533   54            Private  337992      Bachelors             13
32535   22            Private  325033           12th              8
32537   30            Private  345898        HS-grad              9
32539   71                  ?  287372      Doctorate             16
32542   72                  ?  129912        HS-grad              9
32547   43            Private  260761        HS-grad              9
32548   65   Self-emp-not-inc   99359    Prof-school             15
32550   43   Self-emp-not-inc   27242   Some-college             10
32551   32            Private   34066           10th              6
32552   43            Private   84661      Assoc-voc             11
32553   32            Private  116138        Masters             14
32554   53            Private  321865        Masters             14
32555   22            Private  310152   Some-college             10
32557   40            Private  154374        HS-grad              9
32559   22            Private  201490        HS-grad              9

            marital-status          occupation    relationship  \
0            Never-married        Adm-clerical   Not-in-family
1       Married-civ-spouse     Exec-managerial         Husband

In [13]:
data['sex', 'age'].value_counts()

KeyError: ('sex', 'age')

In [14]:
data['age'].mean()

38.58164675532078

In [17]:
data[data['sex'] == Female].mean()

NameError: name 'Female' is not defined

In [18]:
data['sex']

0           Male
1           Male
2           Male
3           Male
4         Female
5         Female
6         Female
7           Male
8         Female
9           Male
10          Male
11          Male
12        Female
13          Male
14          Male
15          Male
16          Male
17          Male
18          Male
19        Female
20          Male
21        Female
22          Male
23          Male
24        Female
25          Male
26          Male
27          Male
28          Male
29          Male
          ...
32531     Female
32532       Male
32533       Male
32534     Female
32535       Male
32536     Female
32537       Male
32538     Female
32539       Male
32540     Female
32541     Female
32542       Male
32543     Female
32544     Female
32545     Female
32546     Female
32547       Male
32548       Male
32549     Female
32550       Male
32551       Male
32552       Male
32553       Male
32554       Male
32555       Male
32556     Female
32557       Male
32558     Female
32559       Male
32560     Female
Name: sex, Length: 32561, dtype: object

In [19]:
data[data['sex']=='Female'].mean()

age              NaN
workclass        NaN
fnlwgt           NaN
education        NaN
education-num    NaN
marital-status   NaN
occupation       NaN
relationship     NaN
race             NaN
sex              NaN
capital-gain     NaN
capital-loss     NaN
hours-per-week   NaN
native-country   NaN
salary           NaN
dtype: float64

In [20]:
data.groupby('sex').mean()['age']

sex
 Female    36.858230
 Male      39.433547
Name: age, dtype: float64

In [21]:
data['native-country'].values()

TypeError: 'numpy.ndarray' object is not callable

In [24]:
data['native-country'].value_counts()

 United-States                 29170
 Mexico                          643
 ?                               583
 Philippines                     198
 Germany                         137
 Canada                          121
 Puerto-Rico                     114
 El-Salvador                     106
 India                           100
 Cuba                             95
 England                          90
 Jamaica                          81
 South                            80
 China                            75
 Italy                            73
 Dominican-Republic               70
 Vietnam                          67
 Guatemala                        64
 Japan                            62
 Poland                           60
 Columbia                         59
 Taiwan                           51
 Haiti                            44
 Iran                             43
 Portugal                         37
 Nicaragua                        34
 Peru                             31
 Greece                           29
 France                           29
 Ecuador                          28
 Ireland                          24
 Hong                             20
 Cambodia                         19
 Trinadad&Tobago                  19
 Thailand                         18
 Laos                             18
 Yugoslavia                       16
 Outlying-US(Guam-USVI-etc)       14
 Honduras                         13
 Hungary                          13
 Scotland                         12
 Holand-Netherlands                1
Name: native-country, dtype: int64

In [25]:
data['native-country'].value_counts(normalize=true)

NameError: name 'true' is not defined

In [26]:
data['native-country'].value_counts(normalize=True)

 United-States                 0.895857
 Mexico                        0.019748
 ?                             0.017905
 Philippines                   0.006081
 Germany                       0.004207
 Canada                        0.003716
 Puerto-Rico                   0.003501
 El-Salvador                   0.003255
 India                         0.003071
 Cuba                          0.002918
 England                       0.002764
 Jamaica                       0.002488
 South                         0.002457
 China                         0.002303
 Italy                         0.002242
 Dominican-Republic            0.002150
 Vietnam                       0.002058
 Guatemala                     0.001966
 Japan                         0.001904
 Poland                        0.001843
 Columbia                      0.001812
 Taiwan                        0.001566
 Haiti                         0.001351
 Iran                          0.001321
 Portugal                      0.001136
 Nicaragua                     0.001044
 Peru                          0.000952
 Greece                        0.000891
 France                        0.000891
 Ecuador                       0.000860
 Ireland                       0.000737
 Hong                          0.000614
 Cambodia                      0.000584
 Trinadad&Tobago               0.000584
 Thailand                      0.000553
 Laos                          0.000553
 Yugoslavia                    0.000491
 Outlying-US(Guam-USVI-etc)    0.000430
 Honduras                      0.000399
 Hungary                       0.000399
 Scotland                      0.000369
 Holand-Netherlands            0.000031
Name: native-country, dtype: float64

In [59]:
data[data['hours-per-week'] == 99].describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,85.000000,85.000000,85.000000,85.000000,85.000000,85.0
mean,43.517647,161462.129412,10.611765,799.529412,125.717647,99.0
std,13.339533,103387.089190,3.415978,2932.860012,508.916838,0.0
min,19.000000,24790.000000,4.000000,0.000000,0.000000,99.0
25%,34.000000,89681.000000,9.000000,0.000000,0.000000,99.0
50%,42.000000,158712.000000,10.000000,0.000000,0.000000,99.0
75%,51.000000,208826.000000,13.000000,0.000000,0.000000,99.0
max,90.000000,511289.000000,16.000000,15024.000000,2415.000000,99.0

In [78]:
data[(data['native-country'] == ' Japan') & (data['salary'] == ' <=50K')]['hours-per-week'].describe()

count    38.000000
mean     41.000000
std      11.902759
min      10.000000
25%      40.000000
50%      40.000000
75%      41.500000
max      65.000000
Name: hours-per-week, dtype: float64